In [32]:
import json
import psycopg2
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from sqlalchemy import URL
import numpy as np 
import plotly.graph_objects as go

In [33]:
url_object = URL.create(
    "postgresql+psycopg2",
    username="postgres",
    password="qq",  # plain (unescaped) text
    host="192.168.5.219",
    database="amur22_non_iwp",
)

In [34]:
engine = create_engine(url_object)

In [35]:
data_table = pd.read_sql("""
                         select date_loc, value, catalog_id, site_id, name_rus from data.data_value as value left join 
                         (select * from data."catalog" as c left join 
                        (SELECT distinct "variable"."id" as new_id, name_rus FROM meta.variable) as var on c.variable_id  = var.new_id) as foo 
                         on value.catalog_id =foo.id
                         """
                         , engine)

AttributeError: 'OptionEngine' object has no attribute 'execute'